@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav-main{
  align-items: center;
  padding: 0 5rem;
  display: flex;
  height: 15vh;
  width: 100%;
  position: fixed;
  z-index: 999;
  color: white;
  font-family: 'SUSE', sans-serif;
  background: linear-gradient(180deg, rgba(0,0,0,.8) 0%, transparent 100%);
  justify-content: space-between;
}

.nav-logo{
  display: flex;
  align-items: center;
  width: 20%;
}

.nav-btns{
  display: flex;
  width: 80%;
  padding-left: 30%;
  justify-content: space-between;
  align-items: center;
}

.nav-search{
  display: flex;
  align-items: center;
  width: 20%;
}

.nav-search-icon{
  height: 3rem;
  width: 3rem;
  padding: .75rem;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
}

.nav-options{
  width: 80%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.nav-options button{
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: 'SUSE', sans-serif;
  cursor: pointer;
}

.nav-acc-sett{
  display: flex;
  align-items: center;
  padding: 1rem;
  padding-left: 2rem;
}

.nav-acc-icon{
  height: 3rem;
  width: 3rem;
  cursor: pointer;
}

.caro-main{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.caro-bg{
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

.caro-content{
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, rgba(0,0,0,.8) 0%, transparent 100%);
  display: flex;
  flex-direction: column;
  color: white;
  z-index: 1;
  padding-top: 10rem;
  padding-left: 5rem;
  font-family: 'SUSE', sans-serif;
  gap: .5rem;
  text-shadow: 0 0 10px 5px rgba(0,0,0,.5);
}

.caro-title{
  color: white;

  font-size: 3rem;
  font-weight: 800;
}

.caro-dir-name{
  font-size: 1.5rem;
  font-weight: 600;
}

.caro-dir-name span{
  color: lightblue;
}

.caro-genre{
  font-size: 1.5rem;
  font-weight: 600;
  color: lightblue;
  background-color: rgba(255,255,255,.2);
  width: min-content;
  padding:0 .5rem;
  border-radius: 5px;
}

.caro-date{
  font-size: 1rem;
  font-weight: 600;
}

.caro-dura{
  font-size: 1rem;
  font-weight: 600;
}

.caro-lang{
  font-size: 1rem;
  font-weight: 600;
}

.caro-cinema{
  font-size: 1rem;
  font-weight: 600;
}

.caro-cinema span{
  background-color: rgba(255,255,255,.2);
  padding: 0 .5rem;
  border-radius: 5px;
  color: lightblue;
}

.caro-btns{
  padding-top: 2rem;
  display: flex;
  width: max-content;
  gap: 1rem;
}

.caro-btns button{
  background-color: rgba(173, 216, 230, 0.464);
  border: none;
  border-radius: 5px;
  color: black;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: 'SUSE', sans-serif;
  padding: .5rem 1rem;
  cursor: pointer;
}

.content-sec{
  width: 100%;
  font-family: 'SUSE', sans-serif;
  padding-top: 2rem;
  background: #000;
  color: white;
}

.trending-sec{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 5rem;
}


.content-caro-img{
  height: 16rem;
  width: 12rem;
  object-fit: cover;
  transition: ease-in-out .5s;
}

.content-caro-img:hover{
  transform: scale(1.1);
  transition: transform .5s;
  opacity: 0.5;
}


.trending-book-btn{
  position: absolute;
  bottom: 50px;
  margin-left: 20px;
  background-color: rgba(173, 216, 230, 0.464);
  border: none;
  border-radius: 5px;
  color: black;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: 'SUSE', sans-serif;
  padding: .5rem 1rem;
  cursor: pointer;
  opacity: 0;
}

.content-caro-img:hover + .trending-book-btn{
  opacity: 1;
  transition: opacity .5s;
}

.trending-book-btn:hover{
  opacity: 1;
  background-color: rgba(173, 216, 230);
}

.booking-panel-bg{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -1;
  filter: brightness(30%);
  background: linear-gradient(0deg, rgba(0,0,0,.8) 0%, transparent 100%);
}

.booking-panel {
  font-family: "SUSE", sans-serif;
  z-index: 1;
}

.booking-panel-header {
  padding:0 5rem ;
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.booking-availability-panel {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.booking-movie-title {
  font-size: 32px;
  font-weight: bold;
  color: white;
  margin-bottom: 5px;
}

.booking-movie-release-date {
  font-size: 24px;
  color: white;
}

.booking-panel-exit-btn{
  background-color: transparent;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: 'SUSE', sans-serif;
  padding: .5rem 1rem;
  cursor: pointer;
}

.booking-panel-exit-btn:hover{
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.booking-panel-main {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
  padding: 5rem;
  padding-top: 0;
}

.booking-panel-left{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.booking-date {
  display: flex;
  gap: 10px;
}

.date-item {
  background-color: rgba(173, 216, 230, 0.464);
  color: white;
  border-radius: 5px;
  height: fit-content ;
  width: 80px;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  text-align: center;
  cursor: pointer;
  flex-direction: column-reverse;
  justify-content: center;
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.date-item active{
  background-color: rgba(173, 216, 250);
}

.date-item:hover {
  background-color: rgba(173, 216, 250);
  transform: scale(1.05);
}

.booking-panel-dates {
  font-size: 16px;
  line-height: 1; 
  font-weight: bold;
}

.booking-time{
  color: white;
  display: flex;
  padding: 2rem 0; 
  gap: .5rem;
}

.time-item{
  background-color: rgba(173, 216, 230, 0.464);
  padding: .5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.time-item:hover{
  background-color: rgba(173, 216, 250);
}

.booking-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: max-content;
  color: white;
}

.booking-details-ticket{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  background-color: rgba(173, 216, 230, 0.2);
  padding: 1rem;
  border-radius: 5px;
}

.booking-details-ticket span{
  color: lightblue;
}

.booking-details-cost{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  width: 100%;
  font-weight: bold;
  background-color: rgba(173, 216, 230, 0.2);
  padding: 1rem;
  border-radius: 5px;
}

.booking-details-cost span{
  color: lightblue;
}

.book-ticket-btn{
  border: none;
  background: lightblue;
  border-radius: 5px;
  color: black;
  font-size: 2rem;
  font-weight: 600;
  font-family: 'SUSE', sans-serif;
  padding: .5rem 1rem;
  cursor: pointer;
}

.book-ticket-btn:hover{
  background-color: rgba(173, 216, 230, 0.464);
}

.ticket-booking-panel {
  width: 70%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.screen {
  margin-bottom: 25px;
  padding: 10px;
  text-align: center;
  background: linear-gradient(180deg, rgba(173, 216, 230, 0.3) 0%,rgba(173, 216, 230, 0.15) 25% , transparent 50%);
  border-top: 2px solid lightblue;
  width: 70%;
  height: 5rem;
  color: transparent;
  font-weight: bold;
  border-radius: 100% 100% 0 0;
}

.screen p{
  color: lightblue;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  transform: translateY(-50px);
}

.seat-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.seat-columns {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: 50px;
}

.seat-column-label {
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 30px;
  color: lightblue;
  font-weight: bold;
  margin: 0 5px;
  border-radius: 5px;
}

.seat-rows {
  display: flex;
  flex-direction: column;
}

.seat-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.seat-row-label {
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  color: lightblue;
  margin: 0 5px;
  border-radius: 5px;
  margin-right: 20px;
}

.seat {
  width: 25px;
  height: 25px;
  margin: 0 5px;
  background-color: #ccc;
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.seat.available {
  background-color: #ccc;
}
  
.seat.booked {
  background-color: #555;
  cursor: not-allowed;
}

.seat.selected {
  background-color: #ff0000;
}

.seat:hover:not(.booked) {
  transform: scale(1.1);
}

.seat-legend {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.legend-item {
  margin: 0 15px;
  color: white;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.legend-item.available::before {
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 5px;
}

.legend-item.booked::before {
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #555;
  margin-right: 5px;
}

.legend-item.selected::before {
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ff0000;
  margin-right: 5px;
}

.genre-slide{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 5rem;
}

.genre-card{
  display: flex;
  gap: 2rem;
  padding: 2rem 5rem;
}

.genre-caro{
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 10rem;
  width: 20rem;
  object-fit: cover;
  border-radius: 25px;
  transition: ease-in-out .5s;
}

.genre-caro:hover{
  transform: scale(1.1);
  transition: transform .5s;
  opacity: 0.8;
} 
.genre-caro:nth-child(1){
  background: linear-gradient(200deg,red, rgb(46, 46, 46));
}

.genre-caro:nth-child(2){
  background: linear-gradient(200deg,orange, rgb(46, 46, 46));
}

.genre-caro:nth-child(3){
  background: linear-gradient(200deg,yellow, rgb(46, 46, 46));
}

.genre-caro:nth-child(4){
  background: linear-gradient(200deg,green, rgb(46, 46, 46));
}

.genre-caro button{
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: 'SUSE', sans-serif;
  padding: .5rem 1rem;
  cursor: pointer;
}

.genre-caro button:hover{
  background-color: rgba(255, 255, 255, 0.5);
}


.genre-title{
  padding-top: 3rem;
  font-size: 2rem;
  font-weight: 800;
}

.genre-movies-tab{
  display: flex;
  flex-direction: column;
  border-radius: 25px;

}

.genre-movies-book-tab{
  display: flex;
  flex-wrap: wrap;
  flex-grow: inherit;
  gap: 3rem;
  padding: 1rem;
  margin: 0 3.5rem;
}

.genre-movie-header{
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.genre-movie-header h1{
  font-size: 2rem;
  font-weight: 800;
}

.genre-movie-exit-btn{
  background-color: transparent;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: 'SUSE', sans-serif;
  padding: .5rem 1rem;
  cursor: pointer;
}

.genre-movie-exit-btn:hover{
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.genre-movies{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 16rem;
  width: 12rem;
}

.genre-movies-img{
  height: 16rem;
  width: 12rem;
  border-radius: 25px;
  object-fit: cover;
  transition: ease-in-out .5s;
  z-index: 0;
}

.genre-book-btn{
  position: absolute;
  background-color: rgba(173, 216, 230, 0.464);
  border: none;
  z-index: 1;
  margin-top: 150px;
  margin-left: 25px;
  border-radius: 5px;
  color: black;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: 'SUSE', sans-serif;
  padding: .5rem 1rem;
  cursor: pointer;
  opacity: 0;
}

.genre-book-btn:hover{
  opacity: 1;
}

.genre-movies-img:hover{
  transform: scale(1.1);
  transition: transform .5s;
  filter: brightness(50%);
}

.genre-movies-img:hover + .genre-book-btn{
  opacity: 1;
  transition: opacity .5s;
}

footer{
  background-color: black;
}